<h1>{{nom}}</h1>
<h2>{{prenom}}</h2>
<div>{{courriel}}</div>
<div>{{telephone}}</div>
<div>{{sujet}}</div>
<hr>

<form action="/contact" method="POST">
    <input type="text" name="nom" placeholder="Nom" name="nom">
    <br><input type="text" name="prenom" placeholder="Prénom" name="prenom">
    <br><input type="text" name="courriel" placeholder="Courriel" name="courriel">
    <br><input type="text" name="telephone" placeholder="Téléphone" name="telephone">
    <br><label for="sujet">Sujet de la demande:</label>
    <select name="sujet" id="sujet">
      <option value="">--liste d'options--</option>
      <option value="inscription">Inscription</option>
      <option value="formation">Demande de formation</option>
    </select>
    <br><textarea name="formation" id="formation" cols="30" rows="10" placeholder="Descriptif de la demande"></textarea>
    <br><input type="submit" value="Soumettre">
  </form>
  
  {{#if contact}}
    {{#each contact}}
        <div>
            <a href="/contact/delete/{{this._id}}">Effacer</a>
            <a href="/contact/update/{{this._id}}">Mettre à jour</a>
            <br>nom:{{this.nom}}
            <br>prenom:{{this.prenom}}
            <br>courriel:{{this.courriel}}
            <br>téléphone:{{this.telephone}}
             <br>sujet:{{this.sujet}}
        </div>
    {{/each}}
{{else}}
aucune donnée entrée
{{/if}}


