<h1>{{title}}</h1>
<h2>{{description}}</h2>
<div>{{duration}}</div>
<div>{{type}}</div>
<hr>

{{#each formations}}
    <a href="/formation/formations/{{this.id}}">
        <h2>{{this.title}}</h2>
        <h3>{{this.description}}</h3>
        <div>{{this.duration}}</div>
        <div>{{this.type}}</div>
    </a>
    <hr>
{{/each}}