<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav>
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="formation/formations">Nos formations</a></li>
      <li><a href="blog/articles">Blog</a></li>
      <li><a href="formulaire/contact">Nous contacter</a></li>
    </ul>
  </nav>

  {{{body}}}
</body>

</html>