body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

a:link {
    color: #00B7FF;
}

a:active {
    color: #ffd900;
}

.Article {
    color: #0b0c14;
}