<h1>{{title}}</h1>
<h2>{{description}}</h2>
<div>{{text}}</div>
<hr>

{{#each articles}}
    <a href="/blog/articles/{{this.id}}">
        <h2>{{this.title}}</h2>
        <h3>{{this.description}}</h3>
        <div>{{this.text}}</div>
    </a>
    <hr>
{{/each}}